body{
    background-color: black;
    color:white
}
h1{
    text-align: center;
    padding: .3rem;
    border-bottom: 1px solid grey;

}
.container{
    text-align: center;
    white-space: pre; 
}
.container label{
    font-size: x-large;
}
input{
  margin:0.5rem 0rem;
  border-radius: 20px;
  padding:0.8rem .9rem;
  width:30%;
 
}
.cashGivenInput{
    /* display: none; */
}
.btn{
    padding:0.8rem 3rem;
    margin:2rem 0rem;
    cursor:pointer;
    background: rgb(247, 4, 166);
    border-radius: 2rem;
    font-size: large;
    
}
.btn:hover{
   
    font-weight: bold;
}
#error-msg{
    display: none;
}
table{
    margin-left: auto; 
    margin-right: auto;
  }
table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    padding:0.5rem ;
  }
  #output{
      display: none;
  }
  .cash{
      display: none;
  }